 <div class="cover_image bg-gray mb-2 pt-3" >
<%= cover_pic(@user) %>
 </div>


<div class="card mb-5">
    <div class="card-body">
    <h5 class="card-title border-bottom pb-3">SUGGEST BOOK TO <%= @user.fullname.upcase %></h5>
        <%= form_for(@opinion, url: opinion_path) do |f| %>
            <%= f.text_field :text, autofocus: true, class: "form-control", placeholder: "Enter a message..." %>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom pb-3">ALL BOOKS SUGGESTED BY <%= @user.fullname.upcase %></h5>
        <%= render @opinions %>
    </div>
</div>
